<h1>SSR</h1>
<button (click)="downloadPdf()">Get PDF</button>
<div class="convertHTML" #convertHTML>
  <div class="page">
    <h1 class="title">Lorem Ipsum</h1>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id enim ut
      lectus sollicitudin malesuada. Suspendisse fermentum enim eros, sed
      faucibus lectus imperdiet a. Integer nec purus ut erat hendrerit tempus ac
      at orci. In felis lorem, fringilla hendrerit ex a, bibendum egestas risus.
      Donec sit amet dolor elementum, vestibulum nulla eu, placerat mauris.
      Proin sit amet semper orci. Curabitur lobortis ligula in egestas faucibus.
      Donec egestas ultrices mi eget euismod. Vivamus in tortor egestas,
      venenatis felis eu, dapibus sem. Morbi mollis magna at sollicitudin
      porttitor. Integer tristique vehicula odio, at tristique lacus cursus eu.
      Pellentesque scelerisque neque ligula. Morbi facilisis, eros nec dignissim
      consequat, odio sem sollicitudin ligula, vel molestie ligula massa sed
      justo. Donec at fringilla metus, ut laoreet nibh. Curabitur sit amet
      interdum nisi. Donec nisl ligula, blandit eget luctus ac, commodo nec
      turpis. Mauris elementum sem et turpis consectetur, eu condimentum dui
      laoreet. Mauris sagittis purus eget congue dictum. Nam dignissim
      sollicitudin enim at finibus. Pellentesque non efficitur leo, luctus
      ornare neque. Etiam in sapien nec ligula aliquet convallis. Fusce
      elementum mauris risus, sed finibus erat fringilla ac. Quisque condimentum
      pretium pharetra. Donec lacus orci, lobortis vel ipsum a, elementum
      rhoncus magna. Quisque mi nisl, fermentum ut tempor a, euismod vitae
      mauris. Etiam accumsan lectus at sem iaculis dignissim. Morbi bibendum
      quam eget velit blandit luctus. Class aptent taciti sociosqu ad litora
      tfaucibus dolor, non hendrerit nibh molestie at. Ut lacinia sapien quis
      elit euismod egestas. Duis risus velit, efficitur sed tristique sit amet,
      facilisis non ex. Curabitur dapibus est vitae nulla consectetur
      ullamcorper. Nam sed volutpat ex. Vestibulum at posuere augue, eu
      tincidunt erat. Fusce ac lobortis urna. Ut suscipit id leo et semper.
      Aenean ultrices, metus sit amet efficitur interdum, quam eros scelerisque
      leo, vel convallis massa neque a massa. Nullam luctus lobortis velit, et
      iaculis ante rhoncus a. Orci varius natoque penatibus et magnis dis
      parturient montes, nascetur ridiculus mus. In vehicula, sapien at vehicula
      consequat, turpis felis pulvinar purus, ut vehicula quam purus eu tortor.
      Phasellus non risus mattis, consequat tortor at, lacinia dolor. Aliquam
      tincidunt turpis at lectus convallis placerat. Cras aliquam ac ante eget
      fringilla. Curabitur sit amet magna ut dolor malesuada aliquam. Nunc eget
      erat tellus. Phasellus eget turpis sed neque accumsan congue at eu nisl.
    </p>
    <table id="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Title</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Yoshi</td>
          <td>Developer</td>
          <td>HfO1Hexample.com</td>
          <td>+1 (123) 456-7890</td>
          <td>123 Main Street</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Rose</td>
          <td>Manager</td>
          <td>aa&#64;tiger.com</td>
          <td>+1 (123) 456-7891</td>
          <td>234 Main Street</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Yoshi</td>
          <td>Developer</td>
          <td>bb&#64;demo.com</td>
          <td>+1 (123) 456-7894</td>
          <td>335 Main Street</td>
        </tr>
        <tr>
          <td>4</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
        <tr>
          <td>5</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
        <tr>
          <td>6</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
        <tr>
          <td>7</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
        <tr>
          <td>8</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
        <tr>
          <td>9</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
        <tr>
          <td>10</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-break"></div>
  <div class="page">
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id enim ut
      lectus sollicitudin malesuada. Suspendisse fermentum enim eros, sed
      faucibus lectus imperdiet a. Integer nec purus ut erat hendrerit tempus ac
      at orci. In felis lorem, fringilla hendrerit ex a, bibendum egestas risus.
      Donec sit amet dolor elementum, vestibulum nulla eu, placerat mauris.
      Proin sit amet semper orci. Curabitur lobortis ligula in egestas faucibus.
      Donec egestas ultrices mi eget euismod. Vivamus in tortor egestas,
      venenatis felis eu, dapibus sem. Morbi mollis magna at sollicitudin
      porttitor. Integer tristique vehicula odio, at tristique lacus cursus eu.
      Pellentesque scelerisque neque ligula. Morbi facilisis, eros nec dignissim
      consequat, odio sem sollicitudin ligula, vel molestie ligula massa sed
      justo. Donec at fringilla metus, ut laoreet nibh. Curabitur sit amet
      interdum nisi. Donec nisl ligula, blandit eget luctus ac, commodo nec
      turpis. Mauris elementum sem et turpis consectetur, eu condimentum dui
      laoreet. Mauris sagittis purus eget congue dictum. Nam dignissim
      sollicitudin enim at finibus. Pellentesque non efficitur leo, luctus
      ornare neque. Etiam in sapien nec ligula aliquet ullamcorper. Aenean vel
      commodo augue, vitae vulputate lorem. Vivamus finibus quam enim, a commodo
      tellus ullamcorper ut. Maecenas porta faucibus dolor, non hendrerit nibh
      molestie at. Ut lacinia sapien quis elit euismod egestas. Duis risus
      velit, efficitur sed tristique sit amet, facilisis non ex. Curabitur
      dapibus est vitae nulla consectetur ullamcorper. Nam sed volutpat ex.
      Vestibulum at posuere augue, eu tincidunt erat. Fusce ac lobortis urna. Ut
      suscipit id leo et semper. Aenean ultrices, metus sit amet efficitur
      interdum, quam eros scelerisque leo, vel convallis massa neque a massa.
      Nullam luctus lobortis velit, et iaculis ante rhoncus a. Orci varius
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      In vehicula, sapien at vehicula consequat, turpis felis pulvinar purus, ut
      vehicula quam purus eu tortor. Phasellus non risus mattis, consequat
      tortor at, lacinia dolor. Aliquam tincidunt turpis at lectus convallis
      placerat. Cras aliquam ac ante eget fringilla. Curabitur sit amet magna ut
      dolor malesuada aliquam. Nunc eget erat tellus. Phasellus eget turpis sed
      neque accumsan congue at eu nisl.
    </p>
    <table id="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Title</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Yoshi</td>
          <td>Developer</td>
          <td>HfO1Hexample.com</td>
          <td>+1 (123) 456-7890</td>
          <td>123 Main Street</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Rose</td>
          <td>Manager</td>
          <td>aa&#64;tiger.com</td>
          <td>+1 (123) 456-7891</td>
          <td>234 Main Street</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Yoshi</td>
          <td>Developer</td>
          <td>bb&#64;demo.com</td>
          <td>+1 (123) 456-7894</td>
          <td>335 Main Street</td>
        </tr>
        <tr>
          <td>4</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
        <tr>
          <td>5</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
        <tr>
          <td>6</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
        <tr>
          <td>7</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
        <tr>
          <td>8</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
        <tr>
          <td>9</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
        <tr>
          <td>10</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-break"></div>

  <div class="page">
    <table id="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Title</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Yoshi</td>
          <td>Developer</td>
          <td>HfO1Hexample.com</td>
          <td>+1 (123) 456-7890</td>
          <td>123 Main Street</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Rose</td>
          <td>Manager</td>
          <td>aa&#64;tiger.com</td>
          <td>+1 (123) 456-7891</td>
          <td>234 Main Street</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Yoshi</td>
          <td>Developer</td>
          <td>bb&#64;demo.com</td>
          <td>+1 (123) 456-7894</td>
          <td>335 Main Street</td>
        </tr>
        <tr>
          <td>4</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
        <tr>
          <td>5</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
        <tr>
          <td>6</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
        <tr>
          <td>7</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
        <tr>
          <td>8</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
        <tr>
          <td>9</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
        <tr>
          <td>10</td>
          <td>May</td>
          <td>Designer</td>
          <td>aj&#64;case.com</td>
          <td>+1 (123) 456-7895</td>
          <td>442 Main Street</td>
        </tr>
      </tbody>
    </table>

    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id enim ut
      lectus sollicitudin malesuada. Suspendisse fermentum enim eros, sed
      faucibus lectus imperdiet a. Integer nec purus ut erat hendrerit tempus ac
      at orci. In felis lorem, fringilla hendrerit ex a, bibendum egestas risus.
      Donec sit amet dolor elementum, vestibulum nulla eu, placerat mauris.
      Proin sit amet semper orci. Curabitur lobortis ligula in egestas faucibus.
      Donec egestas ultrices mi eget euismod. Vivamus in tortor egestas,
      venenatis felis eu, dapibus sem. Morbi mollis magna at sollicitudin
      porttitor. Integer tristique vehicula odio, at tristique lacus cursus eu.
      Pellentesque scelerisque neque ligula. Morbi facilisis, eros nec dignissim
      consequat, odio sem sollicitudin ligula, vel molestie ligula massa sed
      justo. Donec at fringilla metus, ut laoreet nibh. Curabitur sit amet
      interdum nisi. Donec nisl ligula, blandit eget luctus ac, commodo nec
      turpis. Mauris elementum sem et turpis consectetur, eu condimentum dui
      laoreet. Mauris sagittis purus eget congue dictum. Nam dignissim
      sollicitudin enim at finibus. Pellentesque non efficitur leo, luctus
      ornare neque. Etiam in sapien nec ligula aliquet convallis. Fusce
      elementum mauris risus, sed finibus erat fringilla ac. Quisque condimentum
      pretium pharetra. Donec lacus orci, lobortis vel ipsum a, elementum
      rhoncus magna. Quisque mi nisl, fermentum ut tempor a, euismod vitae
      mauris. Etiam accumsan lectus at sem iaculis dignissim. Morbi bibendum
      quam eget velit blandit luctus. Class aptent taciti sociosqu ad litora
      torquent per conubia nostra, per inceptos himenaeos. Proin fringilla lorem
      ex, sed convallis tellus aliquet sit amet. Integer dignissim, lorem
      accumsan luctus mollis, augue metus cursus metus, et sollicitudin dolor
      enim eget turpis. Nulla aliquet ipsum posuere massa porta, molestie
      lacinia leo pretium. Aliquam aliquet ornare posuere. Sed at lorem a odio
      convallis ullamcorper. Aenean vel commodo augue, vitae vulputate lorem.
      Vivamus finibus quam enim, a commodo tellus ullamcorper ut. Maecenas porta
      faucibus dolor, non hendrerit nibh molestie at. Ut lacinia sapien quis
      elit euismod egestas. Duis risus velit, efficitur sed tristique sit amet,
      facilisis non ex. Curabitur dapibus est vitae nulla consectetur
      ullamcorper. Nam sed volutpat ex. Vestibulum at posuere augue, eu
      tincidunt erat. Fusce ac lobortis urna. Ut suscipit id leo et semper.
      Aenean ultrices, metus sit amet efficitur interdum, quam eros scelerisque
      leo, vel convallis massa neque a massa. Nullam luctus lobortis velit, et
      iaculis ante rhoncus a. Orci varius natoque penatibus et magnis dis
      parturient montes, nascetur ridiculus mus. In vehicula, sapien at vehicula
      consequat, turpis felis pulvinar purus, ut vehicula quam purus eu tortor.
      Phasellus non risus mattis, consequat tortor at, lacinia dolor. Aliquam
      tincidunt turpis at lectus convallis placerat. Cras aliquam ac ante eget
      fringilla. Curabitur sit amet magna ut dolor malesuada aliquam. Nunc eget
      erat tellus. Phasellus eget turpis sed neque accumsan congue at eu nisl.
    </p>
  </div>
</div>
